<div class ="about container-fluid">

  <h1 style="margin-bottom:100px; text-align: center;">Project Staff</h1>



  <div class='about row'>
      <div class='col-md-3  text-center'>
          <div class='about-photo'>
          <%= image_tag 'dillon.jpg', alt: 'should be dillon', class: "img-responsive img-circle" %>
          </div>
          <h3 style="text-align: center">Dillon Cortez</h3>
          <h5 style='text-align: center'>Project-lead and Presentation</h5>
          <p>
            After being tired of the role of Secretary of Defense, I decided to live out of a Van for 3 years on the beaches of Costa Rica. The CIA wanted me back and I said no, then they offered me a scholarship at DevPoint Labs if I was willing to find Osama Bin Ladin for them. We all know what happened from there.
            Also:
            Does parkour, like to surf, play music, and code.
          </p>


          <ul>
            <li>
              <%= mail_to 'dilloncortez@gmail.com' do %>
              <i class="fa fa-laptop">&nbsp; dilloncortez@gmail.com</i>
              <% end %>
            </li>
            <li><i class="fa fa-phone"></i>&nbsp; 801-824-2592</li>
            <li>
              <%= link_to 'https://github.com/grandmasterspoc', target: '_blank' do %>
              <i class="fa fa-github">&nbsp; https://github.com/grandmasterspoc</i>
              <% end %>
            </li>
          </ul>
        </div>



      <div class='col-md-3 col-md-offset-1 text-center'>
        <div class='about-photo'>
          <%= image_tag 'nina.jpg', alt: 'should be nina', class: "img-responsive img-circle" %>
          </div>
          <h3 style="text-align: center">Nina Alvarez</h3>
          <h5 style='text-align: center'>Front-end Developer</h5>
            <p>
              Bachelor Degree Graduate in Web Design and Interactive Media,
              as well as Full Stack Ruby on Rails Development.
              Nina also does corporate branding,
              and for fun designs band flyers for a local venue and special events.
            </p>
            </br>
            <ul>
              <li>
                <%= mail_to 'ninajalvarez@gmail.com' do %>
                <i class="fa fa-laptop">&nbsp; ninajalvarez@gmail.com</i>
                <% end %>
              </li>
              <li>
                <%= link_to 'https://github.com/njalvarez', target: '_blank' do %>
                <i class="fa fa-github">&nbsp; https://github.com/njalvarez</i>
                <% end %>
              </li>
            </ul>
      </div>

      <div class='col-md-3 col-md-offset-1 text-center'>
          <div class='about-photo'>
            <%= image_tag 'regan.jpg', alt: 'should be regan', class: "img-responsive img-circle" %>
          </div>
          <h3 style="text-align: center">Regan Shupe</h3>
          <h5 style='text-align: center'>Framework Architect and Tester</h5>
          <p>
            Artist by day, mysterious and handsome coder by night.
            Wanted a better, more interesting career in web development.
            Happy to be in a field that is ever changing and improving.
          </p>
          </br>
          <ul>
            <li>
              <%= mail_to 'arcturanwinter@gmail.com' do %>
              <i class="fa fa-laptop">&nbsp; arcturanwinter@gmail.com</i>
              <% end %>
            </li>
            <li><i class="fa fa-phone"></i>&nbsp; 801-200-9907</li>
            <li>
              <%= link_to 'https://github.com/GarrusN7', target: '_blank' do %>
              <i class="fa fa-github">&nbsp; https://github.com/GarrusN7</i>
              <% end %>
            </li>
          </ul>
      </div>
    </div>

  <div class="about row" style="margin-top:100px; margin-bottom: 50px;">
    <div class='col-sm-12 text-center'>
    <h2>About Us</h2>
    <p>EZ-Beats was created to be a fun capstone project for the 2015 spring cohort.</p>
    <!--   <%= link_to 'http://devpointlabs.com/' do %> -->
     <a href="http://www.devpointlabs.com" target="_blank"> <i>http://www.devpointlabs.com/</i></a>
      <% end %>
    </div>
  </div>

</div>
