<div class="up container-fluid">
	<div class="row">
		<div class="up col-sm-4">
			<h2>My Profile</h2>
			<%= image_tag @user.avatar.url(:medium), class: "img-responsive img-circle" %>
			<h3>Name: <%= @user.first_name%> <%= @user.last_name %></h3>
			<h3>Email: <%= @user.email%></h3>
			<section class="stats">
				<%= render 'users/stats' %>
				<%= render 'users/follow_form' if signed_in? %>
			</section>
		</div>
		<div class="up col-md-8">
			<h3>My Mixes</h3>
			<% @mixes.each do |mix| %>
			<% if post.user.followed_by?(current_user) || post.share_with == "public" || post.user == current_user %>
				<h2><%= mix.title %></h2>
				<% end %>
			<% end %>
			<% else %>
				You haven't made any mixes.
		</div>
	</div>
</div>
