<div class="about container">
	<div class="row">
		<div class="col-md-4">
			<h2><%= @user.first_name%>'s Profile</h2>
			<%= image_tag @user.avatar.url(:medium), class: "img-responsive img-circle" %>
			<h3>Name: <%= @user.first_name%> <%= @user.last_name %></h3>
			<h3>Email: <%= @user.email%></h3>
			<section class="stats">
				<%= render 'users/stats' %>
				<%= render 'users/follow_form' if signed_in? %>
			</section>
		</div>
		<div class="col-md-8">
			<%= render 'layouts/savedsounds' %>
		</div>
	</div>
</div>
