<!-- USER PROFILE PAGE /users/2 -->

	<body>
<div class="about container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2><%= @user.first_name%>'s Profile</h2>
			<%= image_tag @user.avatar.url(:medium), class: "img-responsive img-circle" %>
			<h3>Name: <%= @user.first_name%> <%= @user.last_name %></h3>
			<h3>Email: <%= @user.email%></h3>
			<section class="stats">
				<%= render 'users/stats' %>
				<%= render 'users/follow_form' if signed_in? %>
			</section>
		</div>
		<div class="col-md-8">
			<% @mixes.each do |mix| %>
				<% if @user.id == mix.user_id %>
				<ul style="margin-bottom: 15;">
					<li class='btn btn-primary'><%= mix.name %></li>
				</ul>
				<% end %>
			<% end %>
		</div>
	</div>


	<script type="text/javascript">

	$(function(){

	    $('#toggle-one').bootstrapToggle();

	    function get_audio_element(native_div){
	      var $div = $(native_div);
	      var $checkbox = $div.find('input');
	      var id = $checkbox.attr('class');
	      return $("#"+id+"_sound");
	    };

	    $("div.toggle").on("click", function(event) {
	      var $div = $(this);
	      var $audio_element = get_audio_element(this);
	      if (!$div.hasClass('off')){
	        $audio_element[0].pause();
	        $audio_element[0].currentTime = 0;
	      }
	    });

	    setInterval(function() {
	      $("div.toggle:not(.off)").each(function(){
	        var $audio = get_audio_element(this);
	        $audio[0].currentTime = 0;
	        $audio[0].play();
	      });
	    }, 7500);
	});

	</script>
	</body>

</div>
