<div class="container">
	<div class="row row-bordered">
		<div class="col-md-4">
			<h2><%= @user.first_name%>'s Profile</h2>
			<%= image_tag @user.avatar.url(:thumb) %>
			<h3>Name: <%= @user.first_name%> <%= @user.last_name %></h3>
			<h3>Email: <%= @user.email%></h3>
			<section class="stats">
				<%= render 'users/stats' %>
				<%= render 'users/follow_form' if signed_in? %>
			</section>
		</div>
		<div class="col-md-8">
			<% @songs.each do |song| %>
			<% if post.user.followed_by?(current_user) || post.share_with == "public" || post.user == current_user %>
				<h2><%= song.title %></h2>
				<% end %>
			<% end %>
			<% else %>
				This user hasn't made any songs.
		</div>
	</div>
</div>
