<div class="container">
  <%= form_for @song do |f| %>
  <%= render 'devise/shared/error_messages', object: f.object %>

  <%= f.label :title %>:
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :author %>
  <%= f.text_field :user_id, class: 'form-control' %>

  <%= f.hidden_field :user_id, value: current_user.id, class: 'form-control'  %>

  <%= f.submit "Submit", class: "btn submit-btn"  %>
  <% end %>
</div>
