<div class="container">
<h1> New Song </h1>
<%= form_for @song do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.submit %>
<% end %>
</div>
