<head>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1><%= @song.title %></h1>
      <h3><%= @song.author %></h3>
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>

      <div class="btn-group btn-group-sm">
        <%= link_to 'Edit', edit_song_path(@song), class: "btn" %>
        <%= link_to 'Delete', song_path(@song), data: { confirm: "Are you sure?" },
        method: :delete, class: "btn" %>
        <%= user.toggle_like!(song) %>
      </div>
      <%= link_to 'Back', songs_path %>
    </div>
  </div>
</body>
