<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Soundboard Interface</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <!-- Toggle button links -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/basicinterface.css.scss">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
</head>

<body>
  <h1 class="eztitle">EZ-Beats</h1>
  <div class="jumbotron">
    <div class="container">



      <h5>Melodies</h5>
      <p id="songs">
          <%= audio_tag "melodies/anxiety-drop.mp3", class: "audio-play", id:"1_1_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_1_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_1" %>
          <%= audio_tag "melodies/piano_4.mp3", class: "audio-play", id:"1_2_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_2_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_2" %>
          <%= audio_tag "melodies/trance_melody.mp3", class: "audio-play", id:"1_3_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_3_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_3" %>
          <%= audio_tag "melodies/moar-chords.mp3", class: "audio-play", id:"1_4_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_4_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_4" %>

          <%= audio_tag "melodies/piano_1.mp3", class: "audio-play", id:"1_5_sound" %>

          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_5_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_5" %>          <%= audio_tag "#", class: "audio-play", id:"1_6_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_6_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_6" %>          <%= audio_tag "#", class: "audio-play", id:"1_7_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_7_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_7" %>          <%= audio_tag "#", class: "audio-play", id:"1_8_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_8_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_8" %>        </p>
        <p id="songs">
          <%= audio_tag "#", class: "audio-play", id:"1_9_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_9_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_9" %>          <%= audio_tag "#", class: "audio-play", id:"1_10_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_10_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_10" %>
          <%= audio_tag "#", class: "audio-play", id:"1_11_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_11_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_11" %>
          <%= audio_tag "#", class: "audio-play", id:"1_12_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_12_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_12" %>
          <%= audio_tag "#", class: "audio-play", id:"1_13_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_13_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_13" %>
          <%= audio_tag "#", class: "audio-play", id:"1_14_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_14_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_14" %>
          <%= audio_tag "#", class: "audio-play", id:"1_15_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_15_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_15" %>
          <%= audio_tag "#", class: "audio-play", id:"1_16_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("1_16_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"1_16" %>

        </p>

        <h5>Leads</h5>
        <p id="songs">
          <%= audio_tag "leads/big-room-house.mp3", class: "audio-play", id:"2_1_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_1_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_1" %>
          <%= audio_tag "leads/big-room-house_1.mp3", class: "audio-play", id:"2_2_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_2_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_2" %>
          <%= audio_tag "leads/electro-lead.mp3", class: "audio-play", id:"2_3_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_3_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_3" %>
          <%= audio_tag "leads/pluck-lead.mp3", class: "audio-play", id:"2_4_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_3_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_3" %>
          <%= audio_tag "leads/vibrato-synth.mp3", class: "audio-play", id:"2_5_sound" %>

          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_5_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_5" %>
          <%= audio_tag "#", class: "audio-play", id:"2_6_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_6_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_6" %>
          <%= audio_tag "#", class: "audio-play", id:"2_7_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_7_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_7" %>
          <%= audio_tag "#", class: "audio-play", id:"2_8_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_8_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_8" %>
        </p>
        <p id="songs">
          <%= audio_tag "#", class: "audio-play", id:"2_9_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_9_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_9" %>
          <%= audio_tag "#", class: "audio-play", id:"2_10_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_9_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_9" %>
          <%= audio_tag "#", class: "audio-play", id:"2_11_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_11_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_11" %>
          <%= audio_tag "#", class: "audio-play", id:"2_12_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_12_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_12" %>
          <%= audio_tag "#", class: "audio-play", id:"2_13_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_13_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_13" %>
          <%= audio_tag "#", class: "audio-play", id:"2_14_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_14_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_14" %>
          <%= audio_tag "#", class: "audio-play", id:"2_15_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_15_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_15" %>
          <%= audio_tag "#", class: "audio-play", id:"2_16_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("2_16_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"2_16" %>
        </p>


        <h5>Riffs</h5>
        <p id="songs">
          <%= audio_tag "riffs/EDM-chords.mp3", class: "audio-play", id:"3_1_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_1_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_1" %>
          <%= audio_tag "riffs/electric-loop.mp3", class: "audio-play", id:"3_2_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_2_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_2" %>
          <%= audio_tag "riffs/on-the-house.mp3", class: "audio-play", id:"3_3_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_3_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_3" %>
          <%= audio_tag "riffs/organ-riff.mp3", class: "audio-play", id:"3_4_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_4_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_4" %>
          <%= audio_tag "riffs/saw-plucked.mp3", class: "audio-play", id:"3_5_sound" %>

          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_5_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_5" %>          <%= audio_tag "#", class: "audio-play", id:"3_6_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_6_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_6" %>          <%= audio_tag "#", class: "audio-play", id:"3_7_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_7_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_7" %>          <%= audio_tag "#", class: "audio-play", id:"3_8_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_7_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_7" %>        </p>
        <p id="songs">
          <%= audio_tag "#", class: "audio-play", id:"3_9_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_9_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_9" %>          <%= audio_tag "#", class: "audio-play", id:"3_10_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_10_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_10" %>
          <%= audio_tag "#", class: "audio-play", id:"3_11_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_11_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_11" %>
          <%= audio_tag "#", class: "audio-play", id:"3_12_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_12_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_12" %>
          <%= audio_tag "#", class: "audio-play", id:"3_13_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_13_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_13" %>
          <%= audio_tag "#", class: "audio-play", id:"3_14_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_14_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_14" %>
          <%= audio_tag "#", class: "audio-play", id:"3_15_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_15_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_15" %>
          <%= audio_tag "#", class: "audio-play", id:"3_16_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("3_16_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"3_16" %>

        </div>

        </p>

        <h5>Beats</h5>
        <p id="songs">
          <%= audio_tag "beats/beat-box.mp3", class: "audio-play", id:"4_1_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_1_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_1" %>
          <!-- <input type="checkbox" data-toggle="toggle" class="songs btn btn-lg btn-primary" id="4_1"> -->
          <%= audio_tag "beats/herman-beatbox.mp3", class: "audio-play", id:"4_2_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_2_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_2" %>
          <%= audio_tag "beats/house-beats.mp3", class: "audio-play", id:"4_3_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_3_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_3" %>
          <%= audio_tag "beats/kick-and-claps.mp3", class: "audio-play", id:"4_4_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_4_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_4" %>
          <%= audio_tag "beats/psy.mp3", class: "audio-play", id:"4_5_sound" %>

          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_5_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_5" %>          <%= audio_tag "#", class: "audio-play", id:"4_6_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_6_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_6" %>          <%= audio_tag "#", class: "audio-play", id:"4_7_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_7_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_7" %>          <%= audio_tag "#", class: "audio-play", id:"4_8_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_8_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_8" %>        </p>
        <p id="songs">
          <%= audio_tag "#", class: "audio-play", id:"4_9_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_9_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_9" %>          <%= audio_tag "#", class: "audio-play", id:"4_10_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_10_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_10" %>
          <%= audio_tag "#", class: "audio-play", id:"4_11_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_11_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_11" %>
          <%= audio_tag "#", class: "audio-play", id:"4_12_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_12_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_12" %>
          <%= audio_tag "#", class: "audio-play", id:"4_13_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_13_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_13" %>
          <%= audio_tag "#", class: "audio-play", id:"4_14_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_14_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_14" %>
          <%= audio_tag "#", class: "audio-play", id:"4_15_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_15_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_15" %>
          <%= audio_tag "#", class: "audio-play", id:"4_16_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_16_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_16" %>
        </p>


        <h5>Bass</h5>
        <p id="songs">
          <%= audio_tag "bass/believe.mp3", class: "audio-play", id:"5_1_sound" %>

          <%= form.check_box 'on/off', checked: @mix.is_checked?("4_1_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"4_1" %>
          <%= audio_tag "bass/anthem-bass.mp3", class: "audio-play", id:"5_2_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_2_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_2" %>
          <%= audio_tag "bass/infectious.mp3", class: "audio-play", id:"5_3_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_3_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_3" %>
          <%= audio_tag "bass/house.mp3", class: "audio-play", id:"5_4_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_4_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_4" %>
          <%= audio_tag "bass/bass-clean.mp3", class: "audio-play", id:"5_5_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_5_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_5" %>
          <%= audio_tag "#", class: "audio-play", id:"5_6_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_6_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_6" %>          <%= audio_tag "#", class: "audio-play", id:"5_7_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_7_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_7" %>          <%= audio_tag "#", class: "audio-play", id:"5_8_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_8_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_8" %>        </p>
        <p id="songs">
          <%= audio_tag "#", class: "audio-play", id:"5_9_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_9_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_9" %>          <%= audio_tag "#", class: "audio-play", id:"5_10_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_10_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_10" %>
          <%= audio_tag "#", class: "audio-play", id:"5_11_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_11_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_11" %>
          <%= audio_tag "#", class: "audio-play", id:"5_12_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_12_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_12" %>
          <%= audio_tag "#", class: "audio-play", id:"5_13_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_13_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_13" %>
          <%= audio_tag "#", class: "audio-play", id:"5_14_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_14_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_14" %>
          <%= audio_tag "#", class: "audio-play", id:"5_15_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_15_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_15" %>
          <%= audio_tag "#", class: "audio-play", id:"5_16_sound" %>
          <%= form.check_box 'on/off', checked: @mix.is_checked?("5_16_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"5_16" %>

        </p>
     <p>


      <button class="btn btn-primary" onclick="toggleOffByInput()">Reset</button>
      <%= form.submit 'Save This Sound!', class: "btn btn-default" %> 

    </p>
  </div>
</div>



</body>



<script type="text/javascript">
 
$(function(){
    $('#toggle-one').bootstrapToggle();
    function get_audio_element(native_div){
      var $div = $(native_div);
      var $checkbox = $div.find('input');
      var id = $checkbox.attr('id');
      return $("#"+id+"_sound");
    };

    $("div.toggle").on("click", function(event) {
      var $div = $(this);
      var $audio_element = get_audio_element(this);

      if (!$div.hasClass('off')){
        $audio_element[0].pause();
        $audio_element[0].currentTime = 0; 
      }
    });

    setInterval(function() {
      $("div.toggle:not(.off)").each(function(){
        var $audio = get_audio_element(this);
        $audio[0].currentTime = 0;
        $audio[0].play();
      });
    }, 7500);
});   

// function toggleOffByInput() {
//     $('.songs').prop('checked', false).change();


//   };


// });

</script>

</html>
